/*                     */
/*      CSS Reset      */
/*                     */

/* Box Sizing */
*,
*::before,
*::after {

    box-sizing: border-box;
}

/* Reset Margin */
body,
h1,
h2,
h3,
h4,
img,
picture,
p,
figure,
dl,
dd,
blockquote {
    margin: 0;
}

/* body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* images default */
img,
picture {
    max-width: 100%;
    display: block;


}

/* form elements don't inherit font property */

input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

}


.flex{
    display:flex;
}
.grid{
    display:grid;
}

.container{
    padding-inline: 2em;
    margin-inline:auto;
    max-width: 80rem;
}

.sr-only{
    position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border-width: 0;
}